<form class="{{cssClass}} sheexcel-sheet" autocomplete="off">
    <header class="sheet-header">
        <h1>{{actor.name}}</h1>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="spreadsheet">Spreadsheet</a>
    </nav>
    <section class="sheet-body">
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <!-- Add your default actor attributes here -->
        </div>
        <div class="tab spreadsheet" data-group="primary" data-tab="spreadsheet" style="height: 100%;">
            <div class="form-group">
                <label for="sheetUrl">Google Sheet URL:</label>
                <input type="text" name="sheetUrl" value="{{sheetUrl}}">
                <button class="update-sheet">Update Sheet</button>
            </div>
            <div class="sheet-container">
                {{#if sheetUrl}}
                    <iframe src="{{sheetUrl}}?embedded=true&rm=minimal" frameborder="0"></iframe>
                {{else}}
                    <p>No sheet URL set. Enter a Google Sheet URL and click Update Sheet.</p>
                {{/if}}
            </div>
        </div>
    </section>
</form>