<form class="{{cssClass}} sheexcel-sheet" autocomplete="off">
    <header class="sheexcel-sheet-header">
        <h1>{{actor.name}}</h1>
    </header>
    <section class="sheexcel-sheet-body">
        <div class="sheexcel-form-group">
            <div class="sheexcel-sheet-url-container">
                <label for="sheetUrl">{{localize 'SHEEXCEL.GoogleSheetURL'}}</label>
                <input type="text" name="sheetUrl" value="{{sheetUrl}}">
                <button class="sheexcel-update-sheet">{{localize 'SHEEXCEL.UpdateSheet'}}</button>
            </div>
            <div class="sheexcel-zoom-container">
                <input type="range" id="sheexcel-zoom-slider" min="25" max="175" value="{{zoomLevel}}" step="5">
                <span id="sheexcel-zoom-value">{{zoomLevel}}%</span>
            </div>
            <label class="sheexcel-hide-menu-label">
                <input type="checkbox" id="sheexcel-hide-menu" {{#if hideMenu}}checked{{/if}}>
                <span>{{localize 'SHEEXCEL.HideMenu'}}</span>
            </label>
        </div>
        <div class="sheexcel-sheet-container">
            {{#if sheetUrl}}
                <iframe class="sheexcel-iframe" src="{{sheetUrl}}?embedded=true&rm={{#if hideMenu}}minimal{{else}}embedded{{/if}}" frameborder="0"></iframe>
            {{else}}
                <p>{{localize 'SHEEXCEL.NoSheetURL'}}</p>
            {{/if}}
        </div>
    </section>
</form>